.list-group {
    display: none;
}

.show {
    display: block;
}

.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    padding: 30px;
    visibility: visible;
    /* opacity: 0; */
    transition: all 1s;
}

.white-bg {
    width: 500px;
    height: 230px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.show-modal {
    visibility: visible;
    opacity: 1;
}

.btn {
    margin: 10px;
    width: 70px;
    height: 40px;
}

/* #close {
    display: none;
} */

.main-bg #login {
    width: 80px;
}

.main-bg {
    padding: 100px 20px;
    background: lightgrey;
}

h4 {
    margin: 10px;
}

.dark {
    background: black;
}