.head-line {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 430px;
}

.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;

    flex-wrap: wrap; /*메뉴가 안튀어나오게*/

    border-top: 1px solid #ebebeb;
    border-bottom: 4px double #000;
}

.menus button {
    border: none;
    background: none;
    margin: 5px;
}

.menus button:hover {
    background-color: gray;
}

.news-img-size {
    max-width: 100%; /*부모의 100%*/
    max-height: 250px;
}

.news {
    border-bottom: 2px solid rgb(153, 153, 153);
    padding-bottom: 1em;
    padding-top: 1em;
}

.font-sizeee {
    font-size: 100px;
}

.sign {
    text-align: right;
    /*font-size: medium;*/
        
}